<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>EDIT MOTIVE</h1>
  <form action="/edit/<%= motive.id %>" method="post">
    <br>
    <label for="">Picture Url:</label>
    <br>
    <input type="text" name="pictureUrl" value="<%= motive.pictureUrl %>">
    <br>
    <br>
    <label for="">Price:</label>
    <br>
    <input type="number" name="price" value="<%= motive.price %>">
    <br>
    <br>
    <input type="submit" value="update">
  </form>
</body>
</html>