<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From pemesanan</title>
</head>
<body>
    <h1>Form Pemesanan</h1>
    <form action="" method="POST">
        <img src="<img width="100" src="https://i.ibb.co/WszChLt/panjang-kerah.png" alt="panjang-kerah" border="0">" alt="">

    <select id="size" name="size">
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
    </select>
    <select id="model" name="model">
        <option value="1">Kaos Lengan Panjang</option>
        <option value="2">Kaos Lengan Pendek</option>
        <option value="3">Kerah Lengan Panjang</option>
        <option value="4">Kerah Lengan Pendek</option>
    </select>
    <input type="sumbit" value="Tambahkan ke keranjang">
    </form> 
    <button><a href="">Belanja Lagi</a></button>
    <button><a href="">Checkout</a></button>
</body>
</html>