<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From pemesanan</title>
</head>
<body>
    <h1>Form Pemesanan</h1>
    <form action="/order/<%= motive.id %>" method="POST">
        <img width="500" src="<%= motive.pictureUrl %>" alt="panjang-kerah" border="0">
    <br>
    <br>
    <select style="margin-left: 3cm" id="size" name="size">
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
    </select>
    <select style="margin-left: 1cm" id="model" name="model">
        <option value="Kaos Lengan Panjang">Kaos Lengan Panjang</option>
        <option value="Kaos Lengan Pendek">Kaos Lengan Pendek</option>
        <option value="Kerah Lengan Panjang">Kerah Lengan Panjang</option>
        <option value="Kerah Lengan Pendek">Kerah Lengan Pendek</option>
    </select>
    <br>
    <br>
    <input type="submit" value="Tambahkan ke keranjang">
    </form>
    <br>
    <button><a href="/">Cancel</a></button>
</body>
</html>