<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Konveksi Sehari Jadi</title>
</head>
<body>
    
    <button><a href="">Keranjang</a></button>
    <button><a href="">Login</a></button>
    <h1>Katalog</h1>
   
    <table>
        <% motives.forEach(x => { %>
            <tr>
                <td>
                    <img width="100" src="<%= x.pictureUrl %> " alt="panjang-kerah" border="0">
                    <br>
                    <p><%= x.thePrice %> </p>
                    <button><a href="/pesan/<%= x.id %>">Buy</a></button>
                </td>
            </tr>
        <% }) %>
    </table>
    </body>
    </html>