<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Konveksi Sehari Jadi</title>
</head>
<body>
    <h1>Katalog</h1>
    <table>
        <tr>
            <td>
                <a href="https://ibb.co/st17fZH%22%3E<img src="https://i.ibb.co/WszChLt/panjang-kerah.png" alt="panjang-kerah" border="0"></a>
                <button><a href=""></a></button>
            </td>
            <td>
                <a href="https://ibb.co/wgQqgZz%22%3E<img src="https://i.ibb.co/1QXNQYm/pendek-kaos.png" alt="pendek-kaos" border="0"></a>
                <button><a href=""></a></button>
            </td>
            <td>
                <a href="https://ibb.co/T2Xqmj4%22%3E<img src="https://i.ibb.co/Gpw3cYW/panjang-kerah-sport.png" alt="panjang-kerah-sport" border="0"></a>
                <button><a href=""></a></button>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://ibb.co/Ky7RkNC%22%3E<img src="https://i.ibb.co/dK61qbn/pendek-kerah.png" alt="pendek-kerah" border="0"></a>
                <button><a href=""></a></button>
            </td>
            <td>
                <a href="https://ibb.co/0y4MY2c%22%3E<img src="https://i.ibb.co/609PDwm/pendek-kaos-banteng.png" alt="pendek-kaos-banteng" border="0"></a>
                <button><a href=""></a></button>
            </td>
            <td>
                <a href="https://ibb.co/VYRZZH1%22%3E<img src="https://i.ibb.co/LdmWWQF/panjang-kaos-biru.png" alt="panjang-kaos-biru" border="0"></a>
                <button><a href=""></a></button>
            </td>
        </tr>
    </table>
</body>
</html>