<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keranjang</title>
</head>
<body>
    <h1>Keranjang</h1>
    <table>
        <tr>
            <th>Pesanan</th>
            <th>Lengan</th>
            <th>Kerah</th>
            <th>Ongkir</th>
            <th>Harga</th>
            <th>Total Harga</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Baju</td>
            <td>Lengan</td>
            <td>Kerah</td>
            <td>Ongkir</td>
            <td>Harga</td>
            <td>Total Harga</td>
            <td>'+'</td>
            <td>'-'</td>
        </tr>
    </table>

    <p>alamat</p>

    <button><a href="">Bayar</a></button>
    <button><a href="">Belanja Lagi</a></button>
    
</body>
</html>